<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="{{site.url}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{site.url}}/assets/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/navbar.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/sticky-footer-navbar.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/bigfoot-default.css">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400italic,400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<!-- Data viz -->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{{ site.url }}/visualizations/lib/d3-legend.js"></script>
<script src="{{ site.url }}/visualizations/lib/queue.v1.min.js"></script>
<script src="https://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://d3js.org/colorbrewer.v1.css">
<script src="{{ site.url }}/assets/js/bigfoot.js"></script>

{% if page.extra_css %}
<link rel="stylesheet" href="{{site.url}}/assets/css/{{ page.extra_css }}">
{% endif %}

<script type="text/javascript">
    $.bigfoot();
</script>
