<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="{{site.url}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{site.url}}/assets/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/navbar.css">
<link rel="stylesheet" href="{{site.url}}/assets/css/sticky-footer-navbar.css">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

<!-- Data viz -->
<script src="{{ site.url }}/visualizations/lib/d3.v3.min.js"></script>
<script src="{{ site.url }}/visualizations/lib/topojson.v1.min.js"></script>
<script src="{{ site.url }}/visualizations/lib/queue.v1.min.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
{% if page.extra_css %}
<link rel="stylesheet" href="{{site.url}}/assets/css/{{ page.extra_css }}">
{% endif %}
