<header class="cover" style="background-image: url({{site.url}}/assets/image/{{page.cover-image}});">
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-static-top navbar-narrative" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{site.url}}"><strong>Machines in the Valley</strong></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% for link in site.links %}
                <li itemscope itemtype="http://schema.org/SiteNavigationElement"><a href="{{ site.url }}{{ link.url }}" itemprop="url"><span itemprop="name">{{ link.title }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h1 id="headline" class="headline head-text push-left">{{ page.title }}</h1>
</header>
<figcaption id="media-caption-{{ page.cover-image }}" class="caption" itemprop="caption description">
  <span class="credit" itemprop="copyrightHolder">Photo credit: <a href="{{page.cover-credit-link}}">{{page.cover-credit}}</a></span>
</figcaption>
