<header>
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{site.url}}"><strong>Machines in the Valley</strong></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% for link in site.links %}
                <li itemscope itemtype="http://schema.org/SiteNavigationElement"><a href="{{ site.url }}{{ link.url }}" itemprop="url"><span itemprop="name">{{ link.title }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
</header>
