@charset 'utf-8';
@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/OverusedGrotesk-Book.woff2") format("woff2");
}

/* fira sans */
@font-face {
  font-family: "Lexica Ultralegible";
  src: url("/fonts/LexicaUltralegible-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// Theme styles
body {
  font-family: "Overused Grotesk", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexica Ultralegible", sans-serif;
  font-weight: 400;
}

a {
  transition: color 200ms;
  color: #007d68;
  text-decoration: underline;
}
a:hover {
  color: #403d39;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

ul {
  /* disc */
  list-style-type: disc;
  /* relaxed */
  margin: 1.2rem 0 1.2rem 1.2rem;
  /* same font size */
  font-size: 1.2rem;
}

blockquote {
  /* relaxed */
  margin: 1.2rem 0 1.2rem 1.2rem;
  /* same font size */
  font-size: 1.4rem;
  /* border left */
  border-left: 5px solid #e2e8f0;
}

p {
  margin: 1.2rem;
  font-size: 1.3rem;
  font-weight: 200;
}

.footnotes p {
  font-size: 0.8rem;
}

/* smaller footer font */
footer p {
  font-size: 1rem;
}

.head-text {
  bottom: 8%;
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headline {
  font-size: 4.45rem;
  line-height: 4.75rem;
  font-family: "Lexica Ultralegible", sans-serif;
}

.head-summary {
  font-size: 2.45rem;
  max-width: 800px;
  margin: 5px auto 15px;
  font-family: "Lexica Ultralegible", sans-serif;
}

#site-title {
  font-family: "Lexica Ultralegible", sans-serif;
}

.head-by-main {
  font-size: 1.5rem;
  margin: 20px 0 15px;
}

