svg {
    margin: 0 auto;
    display: block;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .bar {
    fill: steelblue;
  }
  
  .x.axis path {
    display: none;
  }
  
  .legend line {
    stroke: #fff;
    shape-rendering: crispEdges;
  }