#viz {
  width: 760px;
  margin: 0 auto;
}
.county-labels {
  font-size:11px;
}
.containers {
  float: left;
  margin-right: 10px;
  width: 120px;
  height: 100px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #999;
  font-size: 10px;
}

.y.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: darkmagenta;
  stroke-width: 2px;
}