<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content" class="container mx-auto px-6 pt-6">
      <div class="container mx-auto px-4">
        <h1 class="text-2xl font-bold mb-4">{{.Title}}</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          {{ range .Pages }}
          <div class="post-abstract card bg-white shadow-md hover:shadow-lg rounded-lg overflow-hidden">
            <a href="{{.Permalink}}" class="image-link block">
              <img src="/img/viz/{{.Params.thumbnail}}" title="{{.Params.thumbdesc}}" class="w-full h-48 object-cover" />
            </a>
            <div class="p-4">
              <h2 class="text-lg font-semibold mb-2">
                <a href="{{.Permalink}}" class="text-gray-800 hover:text-blue-600">{{.Title}}</a>
              </h2>
              <div class="author text-sm text-gray-600 mb-2">{{.Params.author}}</div>
              <p class="text-sm text-gray-700">{{.Params.abstract}}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
{{- partial "footer.html" . -}}
</body>

</html>