---
layout: single
---
<h2>{{ page.title }}</h2>
<div class="meta" style="margin-bottom: 15px;">
  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%B %e, %Y" | ordinalize  }}</time> &#183; <span class="glyphicon glyphicon-pencil"></span> {{ site.owner.name }} &#183; <span class="glyphicon glyphicon-tag"></span> {{ page.tags | array_to_sentence_string }}
</div>

<div class="container">
  <div class="text">
    <div class="row">
      <div class="col-xs-12 col-md-8">

    {{ content }}

      </div>
    </div>
  </div>
</div>
